* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  align-items: center;
  display: flex;
}

.grid__item {
  flex: 1 1 auto;
}

.button__text{
  margin-right: 10px;
}
